<% content_for :title, "Home" %>

<div class="row">
  <div class="col-sm-3" id="home_left_sidebar">
    <!-- Left Sidebar, order middle on mobile -->
    <div class="row">
      <div class="col-xs-12" id="home_course_list">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Courses</h1>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item">CMPT 120</a>
            <a href="#" class="list-group-item">CMPT 125</a>
            <a href="#" class="list-group-item">CMPT 150</a>
            <a href="#" class="list-group-item">CMPT 225</a>
            <a href="#" class="list-group-item">CMPT 276</a>
            <a href="#" class="list-group-item">CMPT 295</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12" id="home_group_list">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Groups</h1>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item">CMPT 276 Group 1</a>
            <a href="#" class="list-group-item">CMPT 276 Group 2</a>
            <a href="#" class="list-group-item">CMPT 276 Group 3</a>
            <a href="#" class="list-group-item">CMPT 276 Group 4</a>
            <a href="#" class="list-group-item">CMPT 276 Group 5</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6" id="home_main_column" style="min-height: 200px;">
    <!-- Main Content, order top on mobile -->
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>&nbsp;</h1>
      </div>
    </div>
  </div>
  <div class="col-sm-3" id="home_right_sidebar">
    <!-- Right Sidebar, order bottom on mobile -->
    <div class="row">
      <div class="col-xs-12 hidden-xs" id="home_user_panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= link_to @user, style: 'color: black; text-decoration: none;' do %>
              <h3><%= gravatar_for @user, size: 30, class: 'img-rounded' %>&nbsp;&nbsp;<%= @user.name %></h3>
            <% end %>
          </div>
          <div class="panel-body">
            <h4>Last Logged In: &nbsp;</h4>
            &nbsp;
          </div>
        </div>
      </div>
      <div class="col-xs-12" id="home_schedule_panel">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">Schedule</h3>
          </div>
          <div class="panel-body">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
