<% provide(:title, "Login") %>

<div class="row">
  <div class="col-xs-12" style="text-align: center;">
    <h1>Login</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div style="margin: 10px 0;">

      <%= render 'users/login' %>

    </div>
  </div>
</div>
