<script type="text/javascript">
$(document).ready(function() {
  $(".post_body").readmore();
});
</script>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render partial: 'posts/entry', locals: {post_channel_type: post_channel_type,
                                                       channel_id: channel_id, nav: false, obj: nil, obj_name: ''} %>
  </div>
</div>

<%= render partial: 'posts/thread', locals: {classification: classification} %>
