<% provide(:title, "#{@institution.name}") %>

<ol class="breadcrumb">
  <li><%= link_to 'Institutions', institutions_path %></li>
  <li class="active"><%= "#{@institution.name}'s Terms" %></li>
</ol>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1" style="text-align: center">
    <h1><%= @institution.name %></h1>
  </div>
</div>

<%= render partial: 'terms/list' %>
