<% provide(:title, 'All Courses') %>

<form class="form-inline">
  <div class="form-group">
    <label for="year_select">Year: </label>
    <%= collection_select(:year, :number, @years, :id, :number, {prompt: "Years"}, {class: 'form-control year_select'}) %>
  </div>
  <div class="form-group">
    <label for="term_select">Term: </label>
    <%= collection_select(:term, :name, @terms, :id, :name, {prompt: "Terms"}, {class: 'form-control term_select', disabled: 'disabled'}) %>
  </div>
  <div class="form-group">
    <label for="department_select">Department: </label>
    <%= collection_select(:department, :name, @departments, :id, :name, {prompt: "Departments"}, {class: 'form-control department_select', disabled: 'disabled'}) %>
  </div>
</form>

<div id="course_list">

</div>
