<% provide(:title, 'All Courses') %>

<div class="row">
  <div class="col-xs-12" style="text-align: center">
    <h1>Course Browser</h1>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-10 col-xs-offset-1" style="text-align: center">
    <%#= will_paginate %>
  </div>
</div> -->
<div class="row">
<!-- <form class="form-inline"> -->
  <div class="form-group col-xs-4">
    <!-- <label for="year_select">Year&nbsp;&nbsp;</label> -->
    <%= collection_select(:year, :number, @years, :id, :number, {prompt: "Years"}, {class: 'form-control year_select', style: 'width: 100%'}) %>
  </div>
  <div class="form-group col-xs-4">
    <!-- <label for="term_select">Term&nbsp;&nbsp;</label> -->
    <%= collection_select(:term, :name, @terms, :id, :name, {prompt: "Terms"}, {class: 'form-control term_select', disabled: 'disabled'}) %>
  </div>
  <div class="form-group col-xs-4">
    <!-- <label for="department_select">Department&nbsp;&nbsp;</label> -->
    <%= collection_select(:department, :name, @departments, :id, :name, {prompt: "Departments"}, {class: 'form-control department_select', disabled: 'disabled'}) %>
  </div>
<!-- </form> -->
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table table-striped table-hover" id="users">
        <thead>
          <tr>
            <th width="30%">Course</th>
            <th width="70%">Description</th>
          </tr>
        </thead>

        <tbody id="course_list">

        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-10 col-xs-offset-1" style="text-align: center">
    <%#= will_paginate %>
  </div>
</div> -->
