<% provide(:title, "#{@course.department.name}#{@course.number}") %>
<% provide(:main_title, "#{@course.department.name}#{@course.number} - #{@course.name}") %>
<% provide(:sub_title, @course.department.term.term_name) %>

<div class="row">
  <div class="col-sm-7">
    <%= render partial: 'posts/interface', locals: {post_channel_type: @post_channel_type,
                                                           channel_id: @course.id, nav: false, obj: nil, obj_name: ''} %>
  </div>
  <div class="col-sm-5">
    <%= render partial: 'messages/interface', locals: {chat_channel_type: @chat_channel_type,
                                                              channel_id: @course.id, nav: false, obj: nil, obj_name: ''} %>
  </div>

</div>
