<% content_for :title, "Welcome" %>

<% provide(:save_button_title, 'Register') %>

<div class="row">
  <div class="col-sm-7 col-md-8" id="index_about_content" style="text-align: center;">
    <div style="background-color: transparent !important;" class="center jumbotron">
      <h1>Welcome to your Student Hub</h1>

      <h2><p>
        StuHub connects you to your academic life.
      </P>
      </h2>

      <h2><p>Chat with classmates, join personal study groups, and create your own course schedule. All in an easy-to-use interface. </p></h2>

      <h2><p> Your peers are waiting for you! Click below to get started.</p></h2>

      <%= link_to "Register Now!", register_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
  <div class="col-sm-5 col-md-4" id="index_user_column">
    <div class="row" id="index_login_content">
      <div class="col-sm-12" id="index_login_form_container">
        <h1 style="text-align: center;">Login</h1>

        <%= render 'users/login' %>

      </div>
    </div>
    <div class="row" id="index_register_content">
      <div class="col-xs-12" id="index_register_form_container">
        <h1 style="text-align: center;">Register</h1>

        <%= render 'users/form' %>

      </div>
    </div>
  </div>
</div>
