<% content_for :title, "Welcome" %>
<div class="row">
  <div class="col-sm-8" style="background-color: lightgray; height: 600px;">
    <h1>About</h1>
  </div>
  <div class="col-sm-4">
    <div class="row" style="background-color: gray; height: 300px;">
      <div class="col-xs-12">
        <h1>Login</h1>
        </div>
    </div>
    <div class="row" style="background-color: darkgray; height: 300px;">
      <div class="col-xs-12">
        <h1>Register</h1>
      </div>
    </div>
  </div>
</div>
