/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 // *= require_tree .
 // *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 html {
   height: 100%;
 }
 body {
   height: 100%;
 }

 footer {
   margin-top: 20px;
   padding-top: 5px;
   border-top: 1px solid darkgray;
   color: gray;
 }

 #footer_nav_links {
   height: 40px;
 }
 @media (max-width: 767px) {
   footer #footer_text {
     text-align: center;
   }
   footer #footer_nav_links {
     text-align: center;
   }
   .footer_link {
     margin-left: 10px;
     margin-right: 10px;
   }
 }
 @media (min-width: 768px) {
   footer #footer_nav_links {
     text-align: right;
   }
   .footer_link {
     margin-left: 20px;
   }
 }
