<h1>Editing Event</h1>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>

<div class="col-sm-4" id="show_calendar" style='position:relative;top:150px;right:0' >
    <!-- Main Content, order top on mobile -->
    <div class="panel panel-default">
      <div class="panel-heading">
            <h1 class="panel-title">Events</h1>
      </div>
      <div class="panel-body">
        <div id="calendar2"></div>
      </div>
    </div>
</div>

<div style="min-height: 100px;"></div>

