<% provide(:email_title, 'Account Deletion') %>

<p>Your account on StuHub has been deleted by an Administrator.</p>

<p>It would be helpful if you provide feedback on why you decided to leave.</p>

<p>If you did not request deletion of your account, please contact us immediately.</p>
