<% provide(:email_title, 'Welcome to StuHub!') %>

<p>Welcome to StuHub! Please customize <%= link_to "your profile", user_url(@user) %> when you have time.</p>

<p>Your account details are as follows:</p>

<p>Name: <%= @user.name %><br>Email: <%= @user.email %></p>

<p>Click here to login to your account now: <%= link_to "Login", login_url %></p>
