<% content_for :title, 'About' %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-xs-12" style="text-align: center;">
        <h1>About Us</h1>
      </div>
      <div class="col-xs-12">
        <h3>We Are</h3>
        <p>Alexander Sweeten </p>
        <p>Yongxian Li </p>
        <p>Haoyu Liu </p>
        <p>Jonathan Lo </p>
        <p>Yuyu Zhen </p>
        <p>Together, we are CMPT276 Group 5.</p>
        <p>Our passion is software engineering, and we make brilliant web apps for the regular student </p>
      </div>
      <div class="col-xs-12">
        <h3>Contact</h3>
        Reach us through our University <a href='http://www.sfu.ca'>SFU </a>
      </div>
    </div>
  </div>
</div>
