<% content_for :title, 'Help' %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
      <div class="col-xs-12" style="text-align: center;">
        <h1>Help</h1>
      </div>
      <div class="col-xs-12">
        <h3>I am having trouble registering for StuHub</h3>
        <p> Make sure to register for StuHub with a valid e-mail address, 
        and enter a password of 6 characters or more. </p>
        <p>If you have registered and not recieved a
        verification e-mail in your inbox, your mail client 
        may have regarded it as spam. Please check your 
        junk mail.</p>
        <h3>My course is not featured on CourseHub</h3>
        <p>Courses are featured from an academic institutions official list. 
        If you do not see a course, it is either not being offered at this time,
        or your institution has not updated the official list. 
        In either case, please check with your academic insitution. </p>
        <h3>I forgot my password</h3>
        <p>Simply click on the forgot password button located on the login page.
        You will be asked to enter your email address, where you will be 
        sent an e-mail to change your password.</p>
        <h3>I don't want others to view my list of courses or personal information about me</h3>
        <p>StuHub offers customizable privacy settings to control what 
        information is public to others. Upon login, click on edit profile 
        located in the user menu. To the right of each field, you can check on
        uncheck the show button to control what information others 
        are able to view. </p>
      </div>
    </div>
  </div>
</div>
