<html>
  <body>
    <h1>[StuHub] <%= yield :email_title %></h1>

    <hr>

    <h3>Hi <%= @user.name %>,</h3>

    <%= yield %>

    <h3>Thank you for using StuHub.</h3>

    <hr>

    <em>StuHub - A Project by CMPT276 Fall 2015 Group 5</em>
  </body>
</html>
