<% provide(:title, "Edit User") %>

<% provide(:save_button_title, "Save") %>

<% content_for :content do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Account Settings</h1>
    </div>
    <div class="panel-body">

      <%= render 'form' %>

    </div>
  </div>
<% end %>

<%= render 'profile_template' %>

<%= javascript_tag do %>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  document.getElementById("submit_btn").removeAttribute("disabled");
<% end %>
