<% provide(:title, "Groups - #{@user.name}") %>

<% content_for :page_content do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">Groups</h1>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th width="80%">Name</th>
            <% if current_user?(@user) %>
              <th width="20%"></th>
            <% end %>
          </tr>
        </thead>
        <% (@user.group_memberships.sort {|a,b| a.name <=> b.name}).each do |gm| %>
          <tr>
            <td><%= link_to gm.group.name, gm.group %><br><small style="white-space: pre;">Joined: <%= gm.join_date.nil? ? "Unknown" : gm.join_date.in_time_zone.strftime("%b %d %Y, %l:%M %p") %></td>
            <% if current_user?(@user) %>
              <td><%= link_to "Delete", group_membership_path(gm), method: "delete", class: "btn btn-danger btn-block", role: "button", data: { confirm: "Are you sure you want to leave this group?" } %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>

<%= render 'profile_template' %>
