<% provide(:title, 'Register') %>

<% content_for :checkbox do %>
  <div class="form-group" style="text-align: center;">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="register_tos_agree" onClick="VerifyTOSAccept()"> I agree to the <%= link_to 'Terms', terms_path %>.
      </label>
    </div>
  </div>
<% end %>

<% provide(:save_button_title, 'Register') %>

<div class="row">
  <div class="col-xs-12" style="text-align: center;">
    <h1>Register</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div style="margin: 10px 0;">
      <%= render 'form' %>
    </div>
  </div>
</div>
