<% provide(:title, @user.name + "'s Profile") %>
<% content_for :page_content do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">&nbsp;</h1>
    </div>
    &nbsp;
  </div>
<% end %>

<%= render 'profile_template' %>
