<% provide(:title, "Forgot Password") %>

<div class="row">
  <div class="col-xs-12" style="text-align: center;">
    <h1>Forgot Password</h1>
    Please enter the email address of the account to retrieve your password for.
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div style="margin: 10px 0;">
      <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <div class="form-group">
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
        </div>
        <%= f.submit "Submit", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
