<% content_for :title, "Forgot Password" %>

<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10" style="text-align: center;">
    <h1>Forgot Password</h1>
    Please enter the email address of the account to retrieve your password for.
    <div class="row" style="margin: 10px 0;">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <form id="forgot_password_form">
          <div class="form-group">
            <input type="email" form="forgot_password_form" class="form-control" id="email" placeholder="Email">
          </div>
          <!-- On success or fail, redirect to login page with message saying if correct will get email -->
          <!-- <button type="submit" form="forgot_password_form" class="btn btn-primary btn-block" id="submit">Submit</button> -->
          <%= link_to 'Submit', root_path, class: 'btn btn-primary btn-block', role: 'button', id: 'submit' %>
        </form>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>
