<% content_for :title, "Verify Registration" %>

<div class="alert alert-danger" role="alert">...</div>

<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10" style="text-align: center;">
    <h1>Verify Registration</h1>
    Please enter the numerical code you received at your email address to verify your registration.
    <div class="row" style="margin: 10px 0;">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <form id="verify_registration_form">
          <div class="form-group">
            <input type="email" form="verify_registration_form" class="form-control" id="code" placeholder="Code">
          </div>
          <!-- On success, will redirect to home page. Else will error message. -->
          <!-- <button type="submit" form="verify_registration_form" class="btn btn-primary btn-block" id="submit">Submit</button> -->
          <%= link_to 'Submit', home_path, class: 'btn btn-primary btn-block', role: 'button', id: 'submit' %>
        </form>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>
