<% provide(:title, 'General Settings - Admin') %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1 class="panel-title">Administration</h1>
  </div>
  <div class="panel-body">



  </div>
</div>
