<% provide(:email_title, "Dropped Course : #{@course.course_number} (#{@course.department.term.term_name})") %>

<p>You have dropped the course <%= "#{@course.course_number} - #{@course.name}" %> for the term <%= @course.department.term.term_name %>.</p>

<p>You can readd the course at: <%= link_to "#{@course.course_number} Info", get_info_course_url(@course) %></p>
